include:
  - ilia.fi/docker-compose.yml

services:
  caddy: # Reverse proxy for ilia.fi & subdomains
    image: caddy:2-alpine
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./caddy/Caddyfile.dev:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - web


networks:
  web:
    external: true

volumes:
  caddy_data:
  caddy_config: