{
	log main {
		include http.log.access.main
		output file /var/log/caddy/access.log
	}

	log none {
		include http.log.access.none
		output discard
		format console
	}
}

ilia.fi {
    log main

    reverse_proxy go-server:6969
}

kalevala.ilia.fi {
    log main

    reverse_proxy kalevala:80
}